<div class="center jumbotron">
    <h1>Welcome to the MyRecipes App</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success"%>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <p class="left">Browse and view recipes as a guest and Sign up later</p>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      Sign in to your account
    </h3>
    <p class="left">Add/update your recipes/create reviews/like-dislike recipes and much much more!</p>
    <p><%= link_to "Log in to your account", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
      View Recipes as Guest User
    </h3>
    <p class="left">Browse and view recipes as a guest and Sign up later</p>
    <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>